nav {
  position: relative;
  cursor: pointer;
}
.wed-28-nov-2018-11 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
  text-align: right;
}

.fa-heart-o {
  color: white;
  cursor: pointer;
}

.fa-heart {
  color: #ffd639;
  cursor: pointer;
  font-size: 18px;
}
.favourite,
.recent-search,
.home {
  height: 15px;
  width: 50px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 15px;
}
.topnav {
  overflow: hidden;
}
hr {
  height: 1px;
  width: 100%;
  background-color: white;

  position: relative;
  top: -3px;
  background-color: white;

  box-sizing: border-box;

  border: 1px solid #ffffff;
  opacity: 0.3;
}

.routerlink {
  text-align: center;
  padding: 14px 16px;

  color: #ffd639;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
}
.dark-blue-text {
  color: #ffffff;
}
.topnav a:hover {
  /* border-bottom: 5px solid red;
   width: 50px;  */

  color: #fad05b;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 12px;
}

.activecolor {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 12px;
  text-align: center;
  color: #ffd639;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
}
.br {
  line-height: 0.6;
}

.modal-content {
  border-radius: 0;
  border: none;
}
.modal-dialog,
.modal-content {
  height: 100%;
  width: 300px;
}
/* #navMobile{
    display: none;
   position: absolute;
   width: 20px;
   top:20px;
   height: 40px;
    background-color: #FFFFFF;
  } */
.fa fa-arrow-left {
  font-size: 20px;
  color: black;
}

@media only screen and (max-width: 580px) {
  #navbar1 {
    position: absolute;
    top: 14px;
  }
  .modal-body {
    color: #707070;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0;
    cursor: pointer;
  }
  .activecolorModal {
    color: black;
  }
  #date {
    display: none;
  }
  hr {
    display: none;
  }
}
@media only screen and (max-width: 780px) {
  #date {
    position: absolute;
    right: 10px;
  }
}
