<br />
<!-- <p>  {{ Mysrting| titlecase }}</p> -->
<div class="container">
  <div class="container ml-2">
    <div class="row" id="date1">
      <div class="col d-flex" id="date">
        <span class="wed-28-nov-2018-11">

          {{ dateTime | date: "EEE" | titlecase }},
          {{ dateTime | date: "dd" }}
          {{ dateTime | date: "MMM" | titlecase }}
          {{ dateTime | date: "yyyy" }}&nbsp;
          {{ dateTime | date: "hh" }}:{{ dateTime | date: "mm" }}&nbsp;
          {{ dateTime | date: "a" }}
        </span>
      </div>
    </div>
    <div class="break">
      <br />
    </div>
    <div class="row">
      <div class="col d-flex udupi-karnataka" id="udupi-karnataka">
        {{ weatherResponseObject.name }} ,{{
        weatherResponseObject.sys.country
        }}
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col d-flex" id="fav">
        <span id="heart" class="add-to-favourite"><i (click)="onHeartClick()"
            [ngClass]="isLiked ? 'fa fa-heart' : 'fa fa-heart-o'" aria-hidden="true"></i>
          <!-- <fa-icon [icon]="faHeart"></fa-icon> -->&nbsp;Add to Favourite
        </span>
      </div>
    </div>

    <div class="break"><br /><br /></div>
    <div class="row justify-content-center">
      <img src="https://openweathermap.org/img/w/{{ this.weatherResponseObject.weather[0].icon }}.png"
        class="icon-mostly-sunny" />
    </div>


    <div class="row justify-content-center">
      <div class="toggle">
        <div class="feel">
          <!-- <span>&#176;</span> -->
          <p id="temperature" *ngIf="Tempb; else f">{{ C }}</p>
          <ng-template #f>
            <p id="temperature">{{ F }}</p>
          </ng-template>
        </div>
        <div class="main">
          <button id="btn1" style="
              border-right: none;
              border-top-left-radius: 2px;
              border-bottom-left-radius: 2px;
            " (click)="onClickbutton1()" [ngStyle]="getValueCss()">
            <span class="span">&#176;C</span>
          </button>
          <button id="btn2" style="
              border-top-right-radius: 2px;
              border-bottom-right-radius: 2px;
            " (click)="onClickbutton2()" [ngStyle]="getCssss()">
            <span class="span">&#176;F</span>
          </button>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mostly-sunny">
      {{ weatherResponseObject.weather[0].description | titlecase}}
    </div>

    <br /><br />
    <div class="tran">
      <hr class="line-copy" />
      <div class="break1">
        <br><br>
      </div>

      <div class="row " id="footer">

        <div class="col-0 col-lg-1 col-sm-0" id="empty">

        </div>

        <div class=" col-2 col-sm-2 col-lg-2" id="flexm">
          <img src="assets\images\temperature.png" class="icon-temperature-info" />&nbsp;&nbsp;
          <div id="bel">
            <span class="min-maxl">Min-Max</span>

            <span class="min-max" *ngIf="Tempb; else fn">{{ tmin }}&#176;-{{ tmax }}&#176;C</span>&nbsp;
            <ng-template #fn>
              <span class="min-max">{{ tminf }}&#176;-{{ tmaxf }}&#176;F</span>&nbsp;
            </ng-template>

          </div>

        </div>

        <div class="col-2 col-md-2 col-sm-2 col-lg-2" id="flexm">

          <img src="assets\images\precipitation.png" class="icon-temperature-info" />&nbsp;&nbsp;
          <div id="bel">
            <span class="min-maxl">Cloudiness</span>
            <span class="min-max">{{ weatherResponseObject.clouds.all }}%</span>
          </div>

        </div>
        <div class=" col-2  col-sm-2 col-lg-2" id="flexm">
          <img src="assets\images\humidity.png" class="icon-temperature-info" />&nbsp;&nbsp;
          <div id="bel">
            <span class="min-maxl">Humidity</span>
            <span class="min-max">{{ weatherResponseObject.main.humidity }}%</span>
          </div>

        </div>
        <div class=" col-3 col-sm-3  col-lg-2" id="flexm">
          <img src="assets\images\wind.png" class="icon-temperature-info" />&nbsp;&nbsp;
          <div id="bel">
            <span class="min-maxl">Wind</span>
            <span class="min-max">{{ weatherResponseObject.main.humidity }}&nbsp;m/sec</span>
          </div>

        </div>
        <div class="col-3  col-sm-3 col-lg-2" id="flexm">
          <img src="assets\images\visibility.png" class="icon-temperature-info" />&nbsp;&nbsp;
          <div id="bel">
            <span class="min-maxl">Visibility</span>
            <span class="min-max">{{ weatherResponseObject.visibility }}&nbsp; m</span>
          </div>

        </div>
        <div class=" col-0 col-lg-1 col-sm-0" id="empty">

        </div>
      </div>
    </div>
  </div>
</div>

